<section class="top-flow-languages">
  <h4 class="top-flow-languages-heading">Top flow languages</h4>

  <div class="top-flow-languages-datalist">
    <%= for {language, language_data} <- @data do %>
      <div class="top-flow-language">
        <CircleProgress.progress
          radius={30}
          stroke={3}
          percent={language_data.flow_score}
          colour={CodeStatsWeb.ProfileLive.Graphs.Utils.language_colour(language)}
        >
          <p aria-label={"Flow score: #{language_data.flow_score}"}>
            <%= language_data.flow_score %>
          </p>
        </CircleProgress.progress>

        <div class="top-flow-language-info">
          <h5 class="top-flow-language-name"><%= language %></h5>
          <p class="top-flow-language-amount">
            <%= language_data.amount %>
            <%= if language_data.amount == 1 do %>
              flow
            <% else %>
              flows
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <p>
    <small>Flow score means percentage of all XP for language acquired in flow state.</small>
  </p>
</section>
