<section id="profile-user-info">
  <h1 id="profile-username" data-name={@username}>
    <%= if not is_nil(@gravatar_email) do %>
      <CodeStatsWeb.Components.Gravatar.img socket={@socket} username={@username} />
    <% end %>
    <%= @username %>
  </h1>
  <ul id="profile-detail-list">
    <li>
      User since:
      <.live_component
        module={Components.Time}
        date={@inserted_at}
        id="registered-at"
        class={nil}
      />
    </li>
    <li>
      Last programmed
      <%= if @last_day_coded != nil do %>
        on:
        <.live_component
          module={Components.Time}
          date={@last_day_coded}
          id="last-programmed-at"
          class={nil}
        />
      <% else %>
        <em>never</em>.
      <% end %>
    </li>
  </ul>

  <div id="total-progress" data-total-xp={@total_xp} data-new-xp={@recent_xp}>
    <.live_component
      module={Components.TotalProgress}
      id="profile-total-progress"
      total_xp={@total_xp}
      new_xp={@recent_xp}
    />
  </div>
</section>
