#aliases-editor {
  .alias-row {
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content;
    grid-template-rows: repeat(auto-fill, minmax(32px, auto));
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;

    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }

    input {
      min-width: 0;
    }

    * {
      margin: 0;
      height: 32px;
      line-height: 32px;
    }

    p.has-error {
      grid-column: 1 / span 4;
      line-height: unset;
      height: unset;
    }
  }

  #aliases-languages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 10px;

    table {
      align-self: start;
    }

    table > thead > tr:last-child, table > tfoot {
      text-align: left;
    }

    td.language-name:hover {
      background-color: $accent-background;
      color: $accent-text;
      cursor: copy;
    }
  }

  #aliases-add {
    margin: 10px 0;
  }

  #aliases-submit {
    margin: 10px 0 20px;
  }
}
