$circle-size: 60px;

section.top-flow-languages {
  grid-area: top-fl;

  .top-flow-languages-datalist {
    width: 100%;

    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    * {
      margin: 0;
    }
  }

  .top-flow-language {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    padding: 0;

    width: 100%;
    height: $circle-size;

    .circle-progress {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    .circle-progress-content {
      flex: 0 0 ($circle-size + 5px);

      text-align: center;

      p {
        @include smallinize-heading(1.5rem);
        height: $circle-size;
        line-height: $circle-size;
      }
    }

    .top-flow-language-info {
      flex: 1 1 auto;

      display: flex;
      flex-direction: column;
    }
  }

  .top-flow-language-amount {
    @include smallinize-heading(1.2rem);
  }
}
